#lastfmSearch {
	padding: 10px;
	border: 1px solid #D8001A;
	margin:0 auto;
	width:220px;
	text-align: center;
}

/*#lastfmSearch > img {
	
}*/

#lastfmSearch > #artistName {
	width: 170px;
	margin-bottom: 10px;
}

#lastfmSearch > #topTagsCombo {
	width: 178px;
	margin-bottom: 10px;
}

#lastfmSearch > #numTracks {
	width: 105px;
	margin-bottom: 10px;
}

#lastfmSearch > .searchButton {
	width: 65px;
}

#lastfmSearch > #resultDiv {
	text-align: center;
}

#lastfmSearch > #resultDiv .trackItem {
	color: inherit;
	cursor: pointer;
	text-align: left;
	display: block;
	margin-top: 3px;
	text-decoration: none;
}

#lastfmSearch > #resultDiv .trackItem > img {
	float: left;
	margin-right:3px;
}

#lastfmSearch > #resultDiv .trackItem > div {
	padding-top: 10px;
}

.trackItem:after {
  content: "";
  display: table;
  clear: both;
}